<%= f.hidden_field :bill_date_id %>
<%= f.label :start_time %>

<%= select_tag "hours", options_for_select(hours_interval,"%02d"% Time.current.hour) %>:
<%= select_tag "minutes", options_for_select(minute_interval,"%02d"% Time.current.min) %>
<br/>



<div style="float:left">

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br/>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 2 %>

</div>
<div style='float:right'>
  <%= f.label :reference_id %>
  <%= f.text_field :reference_id %>

</div>
<br/>
<%= f.submit "create" %>