
<%= f.hidden_field :bill_date_id %>
<%= f.label :start_time %>

<%= select_hour(@time_log.new_record? ? Time.current : @time_log.start_time) %>

<%= select_minute(@time_log.new_record? ? Time.current : @time_log.start_time) %>

<br/>

<p>
  <%= f.label :reference_id %>
  <%= f.text_field :reference_id %>
</p>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 2 %>
</p>
<p>
  <%= f.label :is_break %>
  <%= f.check_box :is_break %>
</p>

<p>
  <%= f.label :is_favourite %>
  <%= f.check_box :is_favourite %>
</p>
<br/>
<%= f.submit @time_log.valid? ? "Update" : "Create" %>