<h1><%= @date.date %></h1>

<div class="timesheet" >
<table cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <td>Time</td>
    <td>Title</td>
    <td>Duration</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @time_logs.each do |log| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= log.start_time.strftime("%H:%M") %></td>
        <td><%= log.title %>
          <br/>
          <div class='description'><%= log.description %></div>
        </td>
        <td><%= log.duration.blank? ? '' : distance_of_time_in_words(log.start_time, log.end_time, true) %></td>
        <td>
          <%= link_to 'Edit', edit_time_log_path(log), :method => :get %>
          <%= link_to 'Delete', time_log_path(log), :method => :delete %>
        </td>
      </tr>

  <% end %>
  <tr>
    <td colspan="5"><br/><%= !@date.finished_at.blank? ? "Finished at: #{@date.finished_at}" : "Updated at: #{Time.current.strftime("%H:%M")}"  %></td>
  </tr>
  </tbody>
</table>
  </div>

<%= form_for @time_log, :as => :time_log, :html => {:method => (@time_log.valid? ? :put : :post), :class => 'report'} do |f| %>
    <%= hidden_field_tag :bill_date_id, @date.id %>
    <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<% content_for :left_panel do %>
    <% @bill_dates.each do |bill_date| %>
        <%= link_to bill_date.date, time_logs_path(:date => bill_date.date) %><br/>
    <% end %>
    <br/>

    <% form_tag finish_time_log_path(@date), :method => :post do %>
        <%= select_hour(Time.now) %>
        <%= select_minute(Time.now) %>

        <%= submit_tag "Finish Now" %>
    <% end %>
    <br/>
    Total : <%= distance_of_time_in_words(@time_logs.first.start_time, @time_logs.last.end_time ? @time_logs.last.end_time : Time.current, true) if @time_logs.size >= 2%>
<% end %>
