<h1>Tasks#index</h1>

<%= @date.date %>


<%= @time_log.bill_date.date %>

<table>
  <thead>
  <tr>
    <td>Time</td>
    <td>Title</td>
    <td>Duration</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @time_logs.each do |log| %>
      <tr>
        <td><%= log.start_time %></td>
        <td><%= log.title %></td>
        <td><%= log.duration %></td>
        <td><%= link_to 'Delete', time_log_path(log), :method => :delete %></td>
      </tr>


  <% end %>
  </tbody>
</table>


<%= form_for @time_log, :as => :time_log, :html => {:method => :post} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

<% end %>