<h1>Tasks#index</h1>

<% @bill_dates.each do |bill_date| %>
    <%= link_to bill_date.date, time_logs_path(:date => bill_date.date ) %><br/>
<% end %>

<%= @date.date %>

<table class="timesheet">
  <thead>
  <tr>
    <td>No.</td>
    <td>Time</td>
    <td>Title</td>
    <td>Duration</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @time_logs.each do |log| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= log.position %></td>
        <td><%= log.start_time.strftime("%H:%M") %></td>
        <td><%= log.title %></td>
        <td><%= log.duration.blank? ? '' : log.duration %></td>
        <td><%= link_to 'Delete', time_log_path(log), :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= @date.total_hours %>


<%= form_for @time_log, :as => :time_log, :html => {:method => :post} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

<% end %>