<h1>Tasks#index</h1>

<%= @date.date %>


<%= @task.bill_date.date %>

<table>
  <thead>
  <tr>
    <td>Time</td>
    <td>Title</td>
    <td>Duration</td>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.start_time %></td>
        <td><%= task.title %></td>
        <td><%= task.duration %></td>
      </tr>


  <% end %>
  </tbody>
</table>


<%= form_for @task, :as => :task, :html => {:method => :post} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

<% end %>