<!DOCTYPE html>
<html>
<head>
  <title>TimesheetBo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "Users", users_url %> |
<%= link_to "Tasks", tasks_url %>

<%= yield %>

</body>
</html>
